nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container h1 {
    margin-left: 8.5%;
    font-size: xx-large;
}

.nav-buttons {
    display: flex;
    gap: 20px;
}

.nav-button {
    color: white;
    border: none;
    font-size: large;
    cursor: pointer;
    background-color: #333;
}

nav .fas {
    display: none;
}

.nav-button:hover {
    color: rgb(91, 197, 230);
}