# Node.js dependencies
node_modules/
package-lock.json
npm-debug.log

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/

# Optional npm cache directory
.npm/

# Optional REPL history
.node_repl_history

# TypeScript cache
*.tsbuildinfo

# Build output
dist/
build/
